.calculator {
  background-color: rgb(2, 6, 51);
  width: 300px;
  height: 450px;
  margin-top: 200 px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
  
  input[type="text"] {
    width:285px;
    height: 100px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
  }
  
  button {
    box-shadow: 5px;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    height: 70px;
  }
  